
<!Doctype html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta content=always name=referrer>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>cxxm</title>
    <link href="static/css/ol.css" rel="stylesheet" type="text/css" />
    <link href="static/css/main1.css" rel="stylesheet" type="text/css" />
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/brand_model.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/icon.css">
    
    
</head>

<body>
{% block header %}    
<header>
    <h2>基于GIS的医药销售管理系统</h2>
    {% block nav %}
    
    {% endblock %}
</header>
{% endblock %}
{% block menu %}

<div class="icon-add" id="icon-add"><span class="icon-menu3"></span></div>


<div id="mulu">
     <!--搜索框 -->
    <div class="row" style = "z-index: 1" id="search">
        <div class="col-lg-12">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="searchBut">Go!</button>
      </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
<div class="brand_nav">
  <div class="brand_left">
    <div class="brand_head">
      <div class="btn-group" role="group" aria-label="...">
         <button type="button" class="btn btn-default" id="shopshow">药店</button>
         <button type="button" class="btn btn-default" id="medihide">药品</button>
         {% if denglu == 2 %}
         <button type="button" class="btn btn-default" id="adminhide">管理</button>
         {% endif %}
      </div>
    </div>
    
      <div class="brand_col">
        <div class="brand_list">
          <ul class="list_cont">
            {% block firms %} 药店 {% endblock %}
            {% block medicinal %} 药品 {% endblock %}
            {% if denglu == 2 %}
               {% block admin %} 药品 {% endblock %}
             {% endif %}
            <!--
            <li><a href="#">药店名称</a></li>
            <li class="a1">
              <ul>
                {% block yaodian %} 药店 {% endblock %}
                
              </ul>
            </li>
            <li><a href="#">药品名称</a></li>
			      <li class="a1">
              <ul>
                {% block yaoping %} 药品 {% endblock %}
              </ul>
            </li>
           -->
            
          </ul>
        </div>
      </div>
    </div>
 

</div>

</div>

{% endblock %}

{% block map %}
<div id="map" style="z-index: 0" >
   
</div>
{% endblock %}




<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
</div>
</div>
</body>
<script src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/jquery-ui.min.js" ></script>


<script type="text/javascript" src="static/js/ol.js" charset="utf-8"></script>

<script type="text/javascript" src="static/js/select-car.js" charset="utf-8"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>

<script type="text/javascript" src="static/js/search.js"></script>
<script type="text/javascript" src="static/js/self1.js" charset="utf-8"></script>
<script type="text/javascript" src="static/js/bind.js" charset="utf-8"></script>
<script type="text/javascript" src="static/js/manage.js" charset="utf-8"></script>
<script type="text/javascript" src="static/js/pullDown.js" charset="utf-8"></script>



</html>